{% extends 'base.html' %}

{% block title %} Product {% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
<section class="text-gray-600 body-font overflow-hidden" style="font-family: 'Baloo 2', cursive;">
    <div class="container px-5 py-16 mx-auto">

    <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded flex justify-center items-center
        border bg-gray-50">
            <img alt="ecommerce" class="max-w-[240px] max-h-[220px]" src="/media/{{product.0.product_image}}">
        </div>

        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest"> {{product.0.product_brand}} </h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1"> {{product.0.product_name}} </h1>
            <div class="flex mb-4">

            <span class="flex items-center">
            {% for i in product_reviews_fillstars %}
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" class="w-4 h-4 text-yellow-600" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            {% endfor %}
            {% for i in product_reviews_emptystars %}
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 text-yellow-600" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            {% endfor %}
            </span>

        </div>
        <p class="leading-relaxed text-sm"> {{product.0.product_desc}} </p>

        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
            <div class="flex items-center">
                <span class="mr-3"> Quantity </span>
                <div class="relative">
                    <input type="number" min="1" max="50" name="product-quantity" id="" class="border focus:outline-none px-1 w-32" value="1">
                    <input type="hidden" name="product-id" value="{{product.0.product_name}}">
                </div>
            </div>
        </div>

        <div class="flex">
            <span class="title-font font-medium text-md text-yellow-700"> <sup class="text-black font-semibold">$</sup>
            {{product.0.product_price}}.000 </span>
            <button class="flex items-center ml-auto border text-black border-gray-900 mt-2 py-1
            px-3 rounded-md bg-gray-100 active:bg-gray-200" id="add-to-cart-btn">
            Add to Cart </button>
        </div>

      </div>
    </div>
  </div>
</section> <br>
{% endblock body %}

{% block footer %}
<footer class="fixed bottom-0 left-0 z-20 p-4 w-full border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:py-4 md:px-6 bg-gray-900" style="font-family: 'Baloo 2', cursive;">
  <span class="text-sm text-gray-200 text-center"> © 2022 
      <a href="/" class="hover:underline"> Pyshop </a>. All Rights Reserved.
  </span>
</footer>
{% endblock footer %}

{% block js %}
<script>
const addToCartBtn = document.querySelector("#add-to-cart-btn");

addToCartBtn.addEventListener("click", (e) => {
    let cart = JSON.parse(localStorage.getItem("cart"));
    let productQuantity = document.querySelector("input[name=product-quantity]").value;
    let productId = document.querySelector("input[name=product-id]").value;

    if (cart[productId] == null) {
        cart[productId] = Number(productQuantity);
    }
    else {
        cart[productId] += Number(productQuantity);
    }

    localStorage.setItem("cart", JSON.stringify(cart));
    cart = JSON.parse(localStorage.getItem("cart"));

    const cartItems = document.querySelector("#cart-items");
    cartItems.innerHTML = "";

    for (let [key, value] of Object.entries(cart)) {
        let cartItem = document.createElement("li");
        cartItem.className = "py-1 px-2 border-b w-full flex justify-between";
    
        let cartItemQuantity = document.createElement("span");
        cartItemQuantity.className = "bg-yellow-100 text-yellow-800 text-sm font-medium mr-2 px-2.5 rounded";
        cartItemQuantity.innerText = `${value}x`;
        cartItem.innerHTML = `${key}`;
        cartItem.append(cartItemQuantity);
        cartItems.append(cartItem);
    }
})
</script>
{% endblock js %}